# Python virtual environments
.venv/
venv/
env/
.env/
mith/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build and distribution
build/
dist/
*.egg-info/

# Data & models
data/
models/
/reports/*
!/reports/report_schema.json

# Notebooks & logs
*.ipynb_checkpoints/
logs/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Coverage and test
.coverage
.pytest_cache/
.mypy_cache/

results.npy
